.profile__edit-button {
  border: none;
  background-color: transparent;
  padding: 0;
  max-width: 24px;
  grid-row: 1;
  grid-column: 2;
  align-self: center;
}

.profile__edit-button:hover {
  opacity: 60%;
}