.form {
  border: none;
  margin: 48px 0 0;
  /*display: grid;
  row-gap: 30px;*/
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media screen and (max-width: 630px) {
  .form {
    margin-top: 75px;
  }
}