.profile__info {
	display: grid;
	grid-template-columns: 296fr 25fr;
	grid-template-rows: min-content min-content;
	column-gap: 18px;
	row-gap: 12px;
	align-content: center;
	max-width: 336px;
}

@media screen and (max-width: 768px) {
	.profile__info {
		margin: 0 auto;
		text-align: center;
		column-gap: 10;
		row-gap: 10px;
		padding-top: 25px;
	}
}
