.popup__content {
  width: 358px;
  height: 259px;
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 34px 36px 37px;
  box-shadow: 0px 0px 25px
  rgba(0, 0, 0, 0.15);
  position: relative;
}

@media screen and (max-width: 630px) {
  .popup__content {
    width: 238px;
    height: 272px;
    padding: 22px 25px;
  }
}