.profile__data {
  margin: 0;
  display: flex;
  column-gap: 21px;
}
@media screen and (max-width: 768px) {
  .profile__data {
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}