.popup-pic {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  place-content: center;
  background-color:  rgba(0, 0, 0, 0.9);
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.5s, opacity 1s;
  -webkit-transition: visibility 0.5s, opacity 1s;
  transition-delay: 0s;
}