.button-close {
  background-image: url("../../images/close_icon.svg");
  background-color: transparent;
  border: none;
  object-fit: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  width: 32px;
  height: 32px;
  left: calc(100% + 8px);
  bottom: calc(100% + 8px);
  cursor: pointer;
  padding: 0;
}

.button-close:hover {
  opacity: 0.6;
}

@media screen and (max-width: 630px) {
  .button-close {
    background-image: url("../../../images/close_icon_mob.svg");
    left: calc(100% - 20px);
    bottom: calc(100% + 16px);
    width: 20px;
    height: 20px;
  }
}