.header__logo {
  margin-bottom: 41px;
  width: 142px;
  height: 33px;
}

@media screen and (min-width: 320px)  {
  .header__logo {
    width: 103.74px;
    height: 24.4px;
    margin: 28px 27px 31.6px;
  }
}