.header {
  margin: 45px auto 36.25px;
  max-width: 880px;
  border-bottom: 1px solid rgba(255,255,255, .7);
}

@media screen and (max-width: 934px) {
  .header {
    margin: 45px 27px 0;
  }
}

@media screen and (max-width: 630px) {
  .header {
    max-width: 320px;
    margin: 0 auto;
    padding: 0;
  }
}