.profile__add-button {
  border: none;
  background-color: transparent;
  padding: 0;
  width: 150px;
  height: 50px;
  font-size: 36px;
  text-align: center;
  font-weight: 500;
}

.profile__add-button:hover {
  opacity: 60%;
}