.profile__add-button {
  border: 2px solid #FFFFFF;
  background-color: transparent;
  padding: 0;
  width: 150px;
  height: 50px;
  object-fit: cover;
}

.profile__add-button:hover {
  opacity: 60%;
}

@media screen and (max-width: 320px)  {
  .profile__add-button {
    margin: 0 auto;
    margin-top: 36px;
    width: 282px;
    height: 50px;
  }
}