.footer {
  max-width: 880px;
  margin: 0 auto;
  color: #545454;
}

@media screen and (max-width: 1024px) {
  .footer {
    max-width: 581px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 0 19px;
  }
}

@media screen and (max-width: 630px) {
  .footer {
    max-width: 282px;
    margin: 0;
  }
}