.popup__content {
	width: 358px;
	height: 259px;
	background-color: #ffffff;
	border-radius: 10px;
	padding: 34px 36px 37px;
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
	position: relative;
	z-index: 5;
}

@media screen and (max-width: 653px) {
	.popup__content {
		width: 238px;
		height: 272px;
		padding: 25px 22px;
	}
}
