.element {
  border: none;
  border-radius: 10px;
  background: #FFFFFF;
  box-sizing: border-box;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
  padding-bottom: 30px;
  margin: 0 auto;
  height: 361px;
  position: relative;
  cursor: pointer;
}

@media screen and (max-width: 320px) {
  .element {
    margin-bottom: 20px;
  }
  .element:last-child {
    margin-bottom: 0;
  }
}