.profile__name {
  font-size: 42px;
  line-height: 48px;
  color: white;
  font-weight: 500;
  font-style: normal;
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 320px)  {
  .profile__data {
    font-size: 27px;
    line-height: 32px;
  }
}