.profile__image {
  max-width: 120px;
  max-height: 120px;
  border-radius: 50%;
}

@media screen and (max-width: 768px) {
  .profile__image {
    margin: 0;
    margin-bottom: 22.25px;
  }
}

@media screen and (max-width: 630px) {
  .profile__image {
    margin-top: 42px;
  }
}