.element__button-like {
  background-image: url("../../../images/heart.svg");
  background-position: center;
  border: none;
  width: 22px;
  height: 19px;
  right: 20px;
  bottom: 32px;
  cursor: pointer;
  padding: 0;
  background-color: transparent;
}

.element__button-like:hover {
  opacity: 50%;
}